<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="priv.zxy.moonstep">
    <!--添加访问网络的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_compress"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_compress"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:replace="android:icon,android:theme">
        <activity android:name=".guide_activity.GuidePage"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".login_activity.RegisterPage"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".login_activity.ForgetPwdActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".main_page.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".main_fifth_page_activity.MainFifthPageActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".start_activity.StartActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".main_first_page_fragment.ChattingActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".user_info_activity.UserInfoActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".login_activity.RegisterPhone1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".login_activity.RegisterPhone2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".login.view.UserLoginActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".login.view.SendMessageActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".login.view.UserRegisterActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".login.view.VerifyPhoneActivity"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".login.view.ForgetPasswordActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>